/** Make sure to follow CSS conventional organization rules **/
/** GENERAL **/
* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;   
}
input{
    height: fit-content;
    padding: 15.5px 10px;
    border-radius: 10px;
    border: 1px solid #7B7B7B;
    box-shadow: 2px 2px 4px #dbdbdb;
}
form {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 3.5%;
}
a {
    color: black;
    background-color: transparent;
    font-size: 0.8em;
}
a:link, a:visited, a:active {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.content-box {
    display: flex;
    flex: 1;
    margin: 20%;
    height: 100vh;
    width: 100vw;
}
section {
    display: flex;
}
    section.left-container {
        display: flex;
        flex: 1;
        background-color: rgb(123, 123, 197);
    }
    section.right-container {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

/** Reusable Components **/

.flex-container {
    display: flex;
    background-color: white;
    width: 100vw;
    height: 100vh;
}
.auth-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0% 12.5%;
    }
    .auth-body .login-layout {
        height: fit-content;
        align-items: center;
        justify-content: center;
    }
.auth-header {
    display: flex;
    flex: 0;
    flex-direction: column;
    gap: 2.5%;
    height: fit-content;
    margin: 12.5% 12.5% 5% 12.5%;
}

.auth-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}
    .auth-footer .row-elements {
        display: flex;
        flex: 0;
        gap: 1%;
        justify-content: center;
        margin: 3% 12.5%;
    }
    .auth-footer p {
        padding: 0 6%;
    }
    .auth-footer #footer-text {
        font-size: 0.75em;
        color: #7B7B7B;
    }
    .auth-footer #footer-copyright {
        font-size: 0.75em;
        font-weight: 100;
        margin: 10px 0 0 0;
        text-align: center;
    }
.title-header {
    display: flex;
    gap: 3%;    
    font-size: 1.65em;
    margin-bottom: 7.5%;
    height: fit-content;
}
    .title-header span {
        flex: 1;
        font-weight: 1000;
        align-self: center;
    }
.logo-img {
    flex: 1;
    image-rendering: optimizeQuality;
    max-width: 2em;
    max-height: 2em;
}
.auth-title {
    font-size: 1.75em;
    font-weight:lighter;
}
.auth-subtitle {
    color: #7B7B7B;
}
button {
    padding: 15px 0px;
    box-shadow: 2px 2px 4px #ffffff;
}
    .primary-button {
        width: 100%;
        background-color: #7E4BA6;
        color: white;
        border: 0;
        border-radius: 10px;
    }
    .primary-button:active {
        background-color: #4F2271;
    }   
    .secondary-button {
        width: 100%;
        border: 1px solid #7E4BA6;
        border-radius: 10px;
        color: #7E4BA6;
        background-color: white;
    }
    .secondary-button:active {
        background-color: #d6d6d6;
    }

/** Layout specific **/

.card-layout {
    align-items: center;
    gap: 15px;
    padding: 10%;
    height: fit-content;
}

/** Page specific **/

/* Login page*/

h2 {
    width: 100%;
    text-align: center;
    border-bottom: 0.5px solid #7B7B7B;
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-size: 0.8em;
    color: #7B7B7B;
}
h2 span {
    background: #fff;
    padding: 0 10px;
    font-weight: 100;
}
.login-form, .login {
    align-items: start;
}
.auth-body a {
    align-items: end;
}
form #forgot-password-label {
    align-self: flex-end;
    font-weight: 700;
}
footer #forgot-password-label {
    align-self: center;
}